* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 120px;
    background-color: lightblue;
}

nav {
    width: 100%;
    height: 70px;
    background-color: navy;
    position: fixed;
    top: 0px;
    z-index: 99;
}

nav ul {
    list-style-type: none;
}

nav #sigl {
    height: 120px;
    width: 120px;
}

nav .link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    height: 100%;
}

ul.meniu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

ul img {
    height: 100%;
    width: 120px;
    float: left;
    background-color: navy;
}

ul.meniu>li:nth-child(n+2) {
    flex-grow: 1;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: navy;
}

ul.meniu>li>ul.submeniu {
    visibility: hidden;
}

ul.meniu>li:hover>ul.submeniu {
    visibility: visible;
    background-color: navy;
}

ul.meniu li:hover {
    background-color: blue;
}

.d {
    font-size: 20px;
}

.buton {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}