<div class = "home">
  <nav class="main nav">
    <ul class="meniu">

      <li ><a class="link" routerLink="/home">Home</a></li>
      <li><a class="link" routerLink="/login">Login</a></li>
      <li><a class="link" routerLink="/cars">Cars</a></li>
      <li><a class="link" routerLink="/drivers">Drivers</a></li>
      <li><a class="link" routerLink="/constructors">Constructors</a></li>
      <li><a class="link" routerLink="/grandprixs">Grand Prix List</a></li>
      <li ><a class="link" routerLink="/sponsors">Sponsors</a></li>
      <li ><a class="link" routerLink="/constructorsponsors">Constructors And Sponsors</a></li>

    </ul></nav>

</div>


<router-outlet></router-outlet>

