<div class="container">
  <h1 class="title">
    Car {{car.number}}
  </h1>
  <mat-card class="example-card">
    <mat-card-content>
      <p class="details">
        Driver Name: {{car.driverName}}
      </p>
      <p class="details">
        Constructor Name: {{car.constructorName}}
      </p>
      <p class="details">
        Driver Number: {{car.driverNumber}}
      </p>
      <p class="details">
        Engine Number: {{car.engineNr}}
      </p>
      <p class="details">
        Gearbox Number: {{car.gearboxNr}}
      </p>
    </mat-card-content>

  </mat-card>
</div>
