<div class="container">
  <h1 class="title">
    Constructors and Sponsors
  </h1>

  <table mat-table [dataSource]="constructorsponsors" class="mat-elevation-z8 table">



    <ng-container matColumnDef="constructorName">
      <th mat-header-cell *matHeaderCellDef> Constructor Name</th>
      <td mat-cell *matCellDef="let element"> {{element.constructorName}} </td>
    </ng-container>

    <ng-container matColumnDef="sponsorName">
      <th mat-header-cell *matHeaderCellDef> Sponsor Name</th>
      <td mat-cell *matCellDef="let element"> {{element.sponsorName}} </td>
    </ng-container>


    <ng-container matColumnDef="profile1">
      <th mat-header-cell *matHeaderCellDef>Constructor Profile</th>
      <td class="see-profile" mat-cell *matCellDef="let element">
        <mat-icon (click)="goToConstructorProfile(element.constructorName)">
          directions_car
        </mat-icon>
      </td>
    </ng-container>


    <ng-container matColumnDef="profile2">
      <th mat-header-cell *matHeaderCellDef> Sponsor Profile</th>
      <td class="see-profile" mat-cell *matCellDef="let element">
        <mat-icon (click)="goToSponsorProfile(element.sponsorId)">
          directions_car
        </mat-icon>
      </td>
    </ng-container>



    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td class="delete-action" mat-cell *matCellDef="let element">
        <mat-icon (click)="deleteConstructorsponsor(element)">
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button (click)="addData()" class="demo-button" appBtnHover >
    Add data
  </button>
</div>

