<div class="container">
  <h1 class="title">
    Grand Prix Id {{grandprix.id}}
  </h1>
  <mat-card class="example-card">
    <mat-card-content>
      <p class="details">
        Name: {{grandprix.name}}
      </p>
      <p class="details">
        Location: {{grandprix.location}}
      </p>
      <p class="details">
        Country: {{grandprix.country}}
      </p>
      <p class="details">
        Date and Time: {{grandprix.date}}
      </p>
      <p class="details">
        Laps: {{grandprix.laps}}
      </p>
    </mat-card-content>

  </mat-card>
</div>
